/*********************************************************************************************************************************************************************************
/**  =============================================================== ESTILOS GENERALES ==========================================================================================/
/**================================================================================================================================================================================**/
body {
    margin: 0; /* Elimina el margen por defecto */
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif; /* Fuente principal */
    font-size: 16px; /* Tamaño de fuente base */
    font-weight: 400; /* Peso de fuente normal */
    background-color: #fefce8; /* Color de fondo */
    color: #000000; /* Color de texto */
    line-height: 1.6; /* Espaciado entre líneas */
  }

  main {
    padding: 40px 20px; /* Espaciado interno del main */
    max-width: 1000px; /* Ancho máximo del main */
    margin: auto; /* Centrado del main */
  }

  .about-all{
    background-color: #aff7a1;
  }
  
/**======================================================================= NAVBAR  (1 Página) ========== */
  .navbar {
    background: linear-gradient(to right, #000000, #555); /* Degradado */
    padding: 10px 0; /* Espaciado interno de la navbar */
    border-radius: 0 0 8px 8px; /* Bordes redondeados inferiores */
  }
  
  .nav-list {
    display: flex; /* Flexbox para alinear los elementos */
    justify-content: center; /* Centrado horizontal */
    list-style: none; /* Elimina los puntos de la lista */
    gap: 40px; /* Espacio entre los elementos */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
  }
  
  .nav-list li a { 
    color: gold; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: bold; /* Peso de fuente negrita */
    font-size: 1.1rem; /* Tamaño de fuente */
    transition: color 0.3s; /* Transición suave al cambiar el color */
  }
  
  .nav-list li a:hover {
    color: #06a600; /* Cambia el color al pasar el ratón */
  }

  #introduction{
    text-align: left; /* Centrado del texto */
    margin-top: 20px; /* Espacio encima de la introducción */
    font-size: 1.2rem; /* Tamaño de fuente de la introducción */
    color: #000000; /* Color del texto de la introducción */
  }

  #experience{
    text-align: left; /* Centrado del texto */
    margin-top: 20px; /* Espacio encima de la experiencia */
    font-size: 1.2rem; /* Tamaño de fuente de la experiencia */
    color: #000000; /* Color del texto de la experiencia */
  }

  .study{
    text-align: left; /* Centrado del texto */
    margin-top: 20px; /* Espacio encima de los estudios */
    font-size: 1.2rem; /* Tamaño de fuente de los estudios */
    color: #000000; /* Color del texto de los estudios */
  }

  .practice{
    text-align: left; /* Centrado del texto */
    margin-top: 20px; /* Espacio encima de la práctica */
    font-size: 1.2rem; /* Tamaño de fuente de la práctica */
    color: #000000; /* Color del texto de la práctica */
  }
  
  /**  ======================================================================== TITULOS Y SECCIONES ========== */
  h1 {
    font-size: 2.2rem; /* Tamaño de fuente del título principal */
    margin-bottom: 10px; /* Espacio debajo del título */
    color: #000000; /* Color del título */
    text-align: center; /* Centrado del título */
  }
  
  h3 {
    font-size: 1.5rem; /* Tamaño de fuente de los subtítulos */
    margin-top: 40px; /* Espacio encima del subtítulo */
    margin-bottom: 10px; /* Espacio debajo del subtítulo */
    color: #000000; /* Color del subtítulo */
  }
  
  h4 {
    font-size: 1.3rem; /* Tamaño de fuente de los subtítulos secundarios */
    margin-bottom: 8px; /* Espacio debajo del subtítulo secundario */
    color: #000000; /* Color del subtítulo secundario */
  }
  
  /**  ========================================================================= LISTAS DE HABILIDADES ========== */
  .skills-list{  /* Lista de habilidades */
    list-style: none; /* Elimina el bullet point */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
    display: flex; /* Flexbox para alinear los elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a varias líneas */
    gap: 20px; /* Espacio entre los elementos */
    justify-content: center; /* Centrado horizontal de los elementos */
  }
  
  .skills-list-full { /* Lista de habilidades completa */
    list-style: disc; /* Estilo de lista con puntos */
    padding-left: 20px; /* Espacio a la izquierda */
    margin-bottom: 20px; /* Espacio debajo de la lista */
  }
  
  .skills-list-full li { /* Elementos de la lista de habilidades completa */
    margin-bottom: 6px; /* Espacio debajo de cada elemento */
    font-weight: 500; /* Peso de fuente medio */
    background-color: #ffe4cf5b;
  }

  @media (max-width: 450px) 
  {
    .skills-list {
      font-size: 1.2rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
      text-align: center;
      list-style: none; /* Elimina el bullet point */
      padding: 0; /* Elimina el padding por defecto */
    }
  }
  /**  ========================================================================== TEXTOS ========== */
 
  
  code {
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.95rem;
  }
  
  /* ========== RESPONSIVE ========== */
  @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    body {
      padding: 10px;
    }
  
    main {
      padding: 20px 10px;
    }
  }
  
.projects {
  background: linear-gradient(135deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
  /* Linear gradient from left to right */
    padding: 40px;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #06a600;
  }
  
  .projects h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .project-description {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #444;
  }
  
  .project-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  

/*                                                 ========== TARJETAS DE PROYECTOS ========== */
  .project-card {
    background: #fff9c4;
    padding: 20px;
    border-left: 6px solid #ffd900;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  }
  
  .project-card h3 {
    font-size: 1.3rem;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .project-card ul {
    padding-left: 20px;
    color: #333;
    list-style: disc;
  }
  
  .project-card code {
    background: #f5e6a2;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
  }

  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    background-color: #00ff40;
  }
  


.other-tools {
    font-size: 1.3rem;
    /* Set a larger font size for the other tools section */
    color: #000000;
    /* Dark text color for the other tools section */
    text-align: left;
    /* Center the other tools text */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.about-me {
  margin: 20px auto;
  /* Center the article */
  padding: 20px;
  /* Add padding around the article */
  background: linear-gradient(135deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
  /* Linear gradient from left to right */
  border-radius: 8px;
  /* Rounded corners for the article */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Enhanced shadow for more depth */
  background-color: #06a600;
}

.languages {
  margin: 20px auto;
  /* Center the article */
  padding: 20px;
  /* Add padding around the article */
  background: linear-gradient(305deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
  /* Linear gradient from left to right */
  border-radius: 8px;
  /* Rounded corners for the article */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Enhanced shadow for more depth */
  background-color: #06a600;
}

.studies {
    margin: 20px auto;
    /* Center the article */
    padding: 20px;
    /* Add padding around the article */
    background: linear-gradient(135deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
    /* Linear gradient from left to right */
    border-radius: 8px;
    /* Rounded corners for the article */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* Enhanced shadow for more depth */
    background-color: #06a600;
}

.internship {
  margin: 20px auto;
  /* Center the article */
  padding: 20px;
  /* Add padding around the article */
  background: linear-gradient(305deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
  /* Linear gradient from left to right */
  border-radius: 8px;
  /* Rounded corners for the article */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow for depth */
  background-color: #06a600;
}

.future-goals-section {
  margin: 20px auto;
  /* Center the article */
  padding: 20px;
  /* Add padding around the article */
  background: linear-gradient(135deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
  /* Radial gradient from left to right */
  border-radius: 8px;
  /* Rounded corners for the article */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow for depth */
  background-color: #06a600;
}

.future-goals {
  font-size: 1.3rem;
  /* Set a larger font size for the future goals section */
  color: #000000;
  /* Dark text color for the future goals section */
  margin-top: 20px;
  /* Add space above the future goals section */
  margin-bottom: 20px;
  /* Add space below the future goals section */
  text-align: left;
  /* Center the future goals text */
}

#master {
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    font-weight: bold;
    color: #ff9900;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.project-description p::before {
    content: "• ";
    /* Add a bullet point before the paragraphs */
    color: #000000;
    /* Set the bullet color */
    font-weight: bold;
    /* Make the bullet bold */
    font-size: 1.2rem;
    /* Set a larger font size for the project list items */
}

#project-done {
    font-weight: bold;
    /* Make the project name bold */
    color: #000000;
    /* Dark text color for the project name */
    font-size: 1.5rem;
    /* Set a larger font size for the project name */
    margin-bottom: 10px;
    /* Add space below the project name */
    text-align: left;
    /* Center the project name text */
    text-decoration-line: underline;
}

.internship h3 {
    font-size: 1.5rem;
    /* Set a larger font size for the section title */
    color: #000000;
    /* Dark text color for the section title */
}

#mail {
    font-size: 1.3rem;
    /* Set a larger font size for the email */
    color: #000000;
    /* Dark text color for the email */
    margin-bottom: 20px;
    /* Add space below the email */
    text-align: center;
    /* Center the email text */
}


#greetings{
    font-size: 1.5rem;
    /* Set a larger font size for the greeting */
    color: #000000;
    /* Dark text color for the greeting */
    margin-bottom: 20px;
    /* Add space below the greeting */
    text-align: center;
    /* Center the greeting text */
}

.contact {
  background: linear-gradient(135deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background-color: #06a600;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.contact .email {
    font-size: 1.1rem;
    color: #0072c6;
    text-decoration: none;
}

.contact .email i {
    margin-right: 8px;
}

.social-links a {
    font-size: 2rem;
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #1da1f2;
    /* Cambia el color al pasar el ratón */
}

/* ========== DESCARGA DE CURRÍCULUM ========== */
.resume-download {
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(305deg, rgba(243, 201, 61, 0.9) 0%, rgba(243, 201, 61, 0.5) 50%, rgba(243, 201, 61, 0.2) 100%);
  border-radius: 8px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.resume-download p {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 10px;
  animation: slideIn 1s ease-in-out;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0072c6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s, transform 0.3s;
  animation: bounceIn 1s ease-in-out;
}

.download-btn:hover {
  background-color: #005ea6;
  transform: scale(1.05);
}

.resume-download a {
  color: #fff;
  text-decoration: none;
}

.resume-download a:hover {
  text-decoration: underline;

}
/* ========== ANIMACIONES ========== */

#fireworks-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite que los eventos del ratón pasen a los elementos debajo */
    z-index: 9999; /* Asegura que el contenedor esté por encima de otros elementos */
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes bounceIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}




/* ========== FOOTER ========== */
#copy {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}

